<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Slab:400,700|Inconsolata:400,700&subset=latin,cyrillic">
    <link rel="stylesheet" href="{{ baseUrl }}/css/theme.css">
    <link rel="stylesheet" href="{{ baseUrl }}/css/theme-fixes.css">
    <link rel="stylesheet" href="{{ baseUrl }}/css/prism.css">
</head>
<body class="wy-body-for-nav">

    <div class="wy-grid-for-nav">

        <nav data-toggle="wy-nav-shift" class="wy-nav-side">
            <div class="wy-side-nav-search">
                <a href="{{ baseUrl }}/" class="fa fa-home"> {{ title|default('The title') }}</a>
            </div>

            <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
                <ul>
                    {% for itemId, item in menu.items %}
                        <li class="toctree-{{ item.isSubMenu == true ? 'l2' : 'l1' }} {{ itemId == currentMenu ? 'current' }}">
                            <a class="reference internal {{ itemId == currentMenu ? 'current' }}"
                               href="{{ item.absoluteUrl|default(item.relativeUrl)|default('#') }}">
                                {{ item.text|raw }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            &nbsp;
        </nav>

        <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

            {# MOBILE NAV, TRIGGLES SIDE NAV ON TOGGLE #}
            <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
                <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
                <a href="{{ baseUrl }}/">{{ title|default('The title') }}</a>
            </nav>


            {# PAGE CONTENT #}
            <div class="wy-nav-content">
                <div class="rst-content">
                    <div role="main" class="document">
                        {{ content|raw }}
                    </div>

                    <footer>
                        <hr/>
                        {% if not github is empty %}
                            <div role="contentinfo">
                                <p>
                                    Find {{ title }} on <a href="https://github.com/{{ github.user }}/{{ github.repo }}">GitHub</a>.
                                </p>
                            </div>
                        {% endif %}
                        Built with <a href="http://couscous.io/">Couscous</a> using a <a href="https://github.com/CouscousPHP/Template-ReadTheDocs">theme</a> based on <a href="https://readthedocs.org/">Read the Docs</a>.
                    </footer>

                </div>
            </div>

        </section>

    </div>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{{ baseUrl }}/js/theme.js"></script>
    <script src="{{ baseUrl }}/js/prism.js"></script>
    <script>
        // function to update the hight of the various headings
        // reruns when a codetab button is clicked, because the
        // height of the page likely changes at that point
        sectionsCalc = function(){
            window.sections = {};
            _height  = $(window).height();

            // Grab positions of our sections
            $('h1, h2, h3, h4, h5').each(function(){
                sections[this.id] = $(this).offset().top;
            });
        }

        // find the active menu item based on the current scroll position
        // will be run on $(document).scroll()
        activateSection = function(pos){
            var tSection = null;
            var tSectionPos = 0;
            for(var section in window.sections){
                if(window.sections[section] < pos){
                    if(window.sections[section] > tSectionPos){
                        tSection = section;
                        tSectionPos = window.sections[section];
                    }
                }
            }
            var newCurrent = $('.wy-nav-side li a[href$=#'+tSection+']');
            if(newCurrent.length){
                $('.wy-nav-side li a').removeClass('current');
                newCurrent.addClass('current');
            }
        }

        // wrap adjacent sections of code together in a .codetabs div
        // reiles on js being the last language to be defined
        // allows us to flip between different "tabs"
        $('pre > code[class*=language-javascript]').each(function(){ 
            $(this).parent().prevUntil(':not(pre)').addBack().wrapAll('<div class="codetabs">');
        });

        // add an icon to make the API enpoint headings stand out
        $('h5').prepend('<i class="fa fa-link"></i>&nbsp;');

        // create tabs/buttons for each language in a .codetabs div
        $('.codetabs').each(function(){
            var tabselector = $('<div class="tabselector"></div>');
            $('pre > code', this).each(function(){
                var classes = $(this).attr('class');
                if(classes){
                    var regexp = /language\-([\d\w]+)/g;
                    var arr = regexp.exec(classes);
                    if(arr.length){
                        tabselector.append('<button data-toggle="'+arr[1]+'" class="btn btn-info btn-sm">'+arr[1]+'</button>');
                    }
                }
            });
            $('pre:first-child', $(this)).show();
            if($('button', tabselector).length > 1) $(this).prepend(tabselector);
        });

        // show the right codeblock whe the tab is selected.
        // then recalculate section heights
        $('.codetabs button').click(function(){
            var parent = $(this).closest('.codetabs');
            var langClass = 'language-' + $(this).data('toggle');
            $('pre', parent).hide();
            $('pre[class*='+langClass+']', parent).show();
            sectionsCalc();
        });

        $(document).scroll(function(){
            activateSection($(window).scrollTop());
        });

        sectionsCalc();

    </script>

</body>
</html>
